<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alipay.hulu.agentmodel">

    <application
        android:allowBackup="false"
        android:label="SoloPi Agent Model"
        android:supportsRtl="true">
        <provider
            android:name=".ModelControlProvider"
            android:authorities="com.alipay.hulu.agentmodel.control"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.DUMP" />
    </application>
</manifest>
